body {
  background-color:floralwhite;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:rebeccapurple;
  line-height: normal;
  text-align: center;
  align-items: center;
  font: 30px ;
  margin: 17px;
}

.container {
 background: whitesmoke;
 padding: 30px;
 border-radius: 4px;
 box-shadow: 0 10px 30px rgba(0,0,0,.1);
 align-items: center;
}

.card {
  background-color:white;
  margin-top:30px;
  padding-top: 30px;
}

h1 {
  color:darkslateblue;
  font-family:'Archivo Black', sans-serif;
  font-size:larger;
  line-height:0px;
}

img {
  border-radius: 50%;
}

.logo {
  color:rgb(31, 5, 201);
}

#button {
  padding: 15px 100px;
  margin: 10px 4px;
  color:white;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  border: 1px solid;
  background-color: blue;
  border-radius: 5px;
}

#button:hover {
  color: goldenrod;
  text-decoration: underline;
}
.horizontal-list > li {
  display: inline-block;
  padding: 0px 20px;
}
.horizontal-list {
  list-style-type: none;
  padding-left: 0px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 865px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 625px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 445px;
  }
}
